.Workflow {
  position: relative;
  border: solid #401122;
}

.WorkflowSvg {
  width: 400px;
  height: 200px;
}

.Action {
  position: absolute;
  border: solid #408040;
  font-size: small;
}

.ActionText {
  font-size: small;
}

.CookObjectText {
  font-size: x-small;
}