.Workflow {
  position: relative;
  border: solid #401122;
}

.WorkflowSvg {
  width: 400px;
  height: 200px;
}

.Action {
  position: absolute;
  border: solid #408040;
  font-size: small;
}

.ActionText {
  font-size: small;
}

.CookObjectText {
  font-size: x-small;
}

.Flex {
  display: -webkit-flex;
  display: flex;
}

.RecipeTextArea {
  width: 300px;
  height: 500px;
  font-size: small;
}

.MessageTextArea {
  width: 300px;
  height: 80px;
  font-size: small;
  color: #ff0000;
}

.RecipeDetailTextArea {
  width: 300px;
  height: 200px;
  font-size: small;
  color : "black"
}