.Workflow {
  border: solid #401122;
  width: 800px;
  height: 500px;
  position : absolute;
  left : 100px;
  top : 150px;
}

.Material {
  border: solid #808000;
  width: 200px;
  height: 100px;
}

.Action {
  border: solid #408040;
  width: 250px;
  height: 150px;
}
